<ion-nav-bar class="bar-positive nav-title-slide-ios7">
</ion-nav-bar>
<ion-view title="Contact List" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon" ></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-plus-round" ng-click="openModal()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header content-bg">
        <ul class="list">
            <li class="item">
                <h2>Victor</h2>
                <p>victtavares1@gmail.com</p>
            </li>
        </ul>

    </ion-content>
</ion-view>