<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable  nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header">
            <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header">
                <ion-list>
                    <a class="item nav-clear menu-close item-icon-left menuTabs" nav-clear menu-close href="#/app/main">
                        <i class="icon ion-home"></i>
                        Home
                    </a>
                    <a class="item nav-clear menu-close item-icon-left menuTabs" nav-clear menu-close href="#/app/contactList">
                        <i class="icon ion-person"></i>
                        Contacts
                        </a>
                    <a class="item nav-clear menu-close item-icon-left menuTabs" nav-clear menu-close href="#/" ng-click="logout()">
                        <i class="icon ion-log-out"></i>
                        Logout
                    </a>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>