/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */





.content-bg {
    background: #FAFAFA;
}

.horizontal-break {
    width: 95%;
}



.center {
    /*position: absolute;*/
    /*display: block;*/
    /*bottom:30px;*/
    /*width: 100%;*/
    /*height: 10em;*/
    text-align:center;
}


/*.scroll {*/
   /*height: 95% !important*/
/*}*/














